.metricas__container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0 7em 13.5em;
}

.metricas {
    width: 17.5em;
}

.metricas__titulo {
    color: var(--main);
    font-weight: 600;
    font-size: 3.75rem;
}

.metricas__subtitulo {
    color: var(--title);
    font-weight: 500;
    font-size: 1.125rem;
    margin: 1.5em 0 1em;}

.metricas__texto {
    color: var(--text);
    line-height: 24px;
}
